@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;1,300&display=swap');

body {
    background-color: rgb(8, 28, 51);
    color: white;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.error {
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(221, 126, 126);
}


h1 {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    background-color: rgb(10, 204, 255);
    padding: 2.4rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    margin: 0;
}

.form h2 {
    margin: 0;
    padding: 0;
}

.form form {
    margin: 5px;
}

.results {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(7, 148, 179);
    padding: 1rem;
    min-width: 90%;
    border-radius: 20px;
    margin: 35px;
    min-height: 500px
}

.results div h2 {
    text-align: center;
}

.results div ul {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
    padding: 0;
    border-top: 1px solid #ccc;
}

.results div ul li {
    display: flex;
    justify-content: space-between;
    min-width: 280px;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

ul li p {
    max-width: 400px;
    overflow-x: hidden;
}

ul::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    background-color: #F5F5F5;
}

ul::-webkit-scrollbar-thumb {
    background-color: rgb(10, 204, 255);
    border-radius: 7px;
    width: 8px;
}

ul::-webkit-scrollbar-thumb:hover {
    background-color: rgb(121, 212, 235);
}


.submit {
    background-color: white;
    border-radius: 4px;
    border: none;
    height: 20px;
}

.submit:hover {
    transition: 0.3s;
    background-color: rgb(153, 216, 231);
}


/* Buttons */

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    min-width: 80px;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.btn .checkbox {
    outline: none;
    cursor: pointer;
    height: 100%;
    width: 44px;
}


.btn .checkbox::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'Edit';
    background-color: aliceblue;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}

.btn .checkbox:hover::after {
    transition: 0.3s;
    background-color: rgb(153, 216, 231);
}


.display:has(input:not(:checked)) .edit-form {
    display: none;
}

.display:has(input:checked) p {
    display: none;
}

.display:has(input:checked) .edit-form {
    display: block;
}

.display:has(input:checked) .checkbox::after {
    content: 'Cancel';
}

.btn .checkbox:has(input:checked) .checkbox::after {
    margin: 20px;
}

.display {
    display: flex;
    align-items: center;
    height: 40px;
}

.edit-form {
    margin: 0;
}


.btn form {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25px;

}

.btn form button {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: none;
    outline: none;
}

.btn form button:hover {
    transition: 0.3s;
    background-color: rgb(236, 187, 187);
}

@media only screen and (max-width: 506px) {
    h1 {
        font-size: 3rem;
    }


    .results {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 1480px;
    }

    .results .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .results div ul {
        padding: 0;
        width: 90%;
    }

    .results div ul li {
        margin: 0;
        padding: 1rem;
        font-size: 15px;
        min-width: 240px;
    }
}

/* tablet */
@media only screen and (min-width: 507px) and (max-width: 1100px) {
    .results {
        display: flex;
        flex-wrap: wrap;
    }

    .countries,
    .trips {
        flex: 1;
        min-height: 300px;
    }

    .filtered-trips {
        flex: 2;
        min-height: 300px;
    }
}